@use "../modules";
@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.accordion {
	width: 100%;
	border-bottom: 1px solid var(--line-light);

	&__item {
		padding: 20px 0 21px 0;
		border-top: 1px solid var(--line-light);
		gap: 56px;

		@include mix.maxw(var.$w-mob) {
			padding: 20px 0;
			gap: 32px;
		}

		&.align-left {
			align-items: flex-start;
		}

		> .active {
			> a {
				svg {
					transition: all ease-in-out .2s;
					use {
						fill: var(--gray-2);
					}
				}
			}
		}

		> .flex {
			> h4 {
				transition: all ease-in-out .2s;
				color: var(--gray-2);

				&:hover {
					color: var(--black);
				}
			}
		}

		&.active {
			> .accordion__button {
				> a {
					border-color: var(--yellow-main);
					> svg {
						transform: rotate(90deg);
						use {
							fill: var(--yellow-main);
						}
					}
				}
			}
			> .flex {
				> h4 {
					color: var(--black);
				}
			}
		}

		.accordion-open {
			cursor: pointer;
			line-height: unset;
		}
	}

	&__button {
		> a {
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background: var(--white);
			border: 1px solid var(--gray-2);
			transition: all ease-in-out .2s;

			> svg {
				width: 8px;
				height: 8px;
				transform: rotate(45deg);
				transition: all ease-in-out .2s;
				use {
					fill: var(--gray-2);
				}
			}
		}

		&:hover {
			> a {
				border-color: var(--yellow-main);
				> svg {
					use {
						fill: var(--yellow-main);
					}
				}
			}
		}
	}

	&__content {
		display: none;
		margin-top: 19px;

		@include mix.maxw(var.$w-mob) {
			margin-top: 20px;
		}

		> h4 {
			margin-top: 24px;
			@include mix.maxw(var.$w-mob) {
				margin-top: 20px;
			}
			@extend .body-s-sb;
		}
		> p {
			margin-top: 24px;
			@include mix.maxw(var.$w-mob) {
				margin-top: 20px;
			}
			@extend .body-s-reg;
		}
		> ul {
			margin-top: 12px;
			@include mix.maxw(var.$w-mob) {
				margin-top: 10px;
			}
			@extend .list;
		}

		> .flex {
			margin-top: 16px;

			@include mix.maxw(var.$w-mob) {
				margin-top: 20px;

				.button {
					font-size: 15px;
					line-height: 120%;
					border-radius: 24px;
					padding: 15px 24px;
				}
			}
		}
	}

}