.cloud {
    height: auto;
    overflow: initial;
    position: relative;
    height: 200vh;
    &__inner {
        position: sticky;
        top: 158px;
        left: 0;
    }
    &__message-new {
        position: absolute;
        display: block;
        width: -moz-max-content;
        width: max-content;
        border-radius: 8px;
        padding: 16px;
        color: var(--black);
        z-index: 2;
    }
}

.main {
    &-card {
        
        &__item {
            &:last-of-type{
                background: linear-gradient(90deg, rgba(255, 223, 101, 0.32) 15%, rgba(255, 193, 101, 0.32) 84.17%);
                position: relative;
            }
        }
        &__images {
            img {
                max-width: 100%;
                max-height: 100%;
            }
            .image {
                position: absolute;
                &.bottom-0 {
                    bottom: 20px;
                   
                }
                &:nth-child(1) {
                    left: 2.8%;
                }
                &:nth-child(2) {
                    left: 16.9%;
                }
                &:nth-child(3) {
                    left: 24.73%;
                }
                &:nth-child(4) {
                    left: 42.75%;
                }
                &:nth-child(5) {
                    left: 53.09%;
                }
                &:nth-child(6) {
                    left: 60.76%;
                }
                &:nth-child(7) {
                    left: 74.73%;
                }
                &:nth-child(8) {
                    left: auto;
                    right: 2.8%;
                }
                &:nth-child(9) {
                    left: 14.84%;
                    bottom: 11.15%;
                }
                &:nth-child(10) {
                    left: 39.83%;
                    bottom: 16.15%;
                }
                &:nth-child(11) {
                    left: 51.80%;
                    bottom: 10.85%;
                }
                &:nth-child(12) {
                    left: auto;
                    right: 11.47%;
                    bottom: 13.12%;
                }
                &:nth-child(13) {
                    left: 7.41%;
                    bottom: 16.71%;
                }
                &:nth-child(14) {
                    left: 20.12%;
                    bottom: 20.58%;
                }
                &:nth-child(15) {
                    left: 32.7%;
                    bottom: 25.72%;
                }
                &:nth-child(16) {
                    left: 43.44%;
                    bottom: 30.13%;
                }
                &:nth-child(17) {
                    left: 51.68%;
                    bottom: 24.6%;
                }
                &:nth-child(18) {
                    left: 59.5%;
                    bottom: 16.5%;
                }
                &:nth-child(19) {
                    left: auto;
                    right: 16.76%;
                    bottom: 26.3%;
                }
                &.size--40 {
                    width: 40px;
                    height: 40px;
                }
                &.size--60 {
                    width: 60px;
                    height: 60px;
                }
                &.size--80 {
                    width: 80px;
                    height: 80px;
                }
                &.size--120 {
                    width: 120px;
                    height: 120px;
                }
            }
            .like-1 {
                left: 27.66%;
                bottom: 36.44%;
                width: 23px;
                height: 23px;
                img {
                    opacity: .5;
                }
            }
            .like-2 {
                left: 41.76%;
                bottom: 44.29%;
                width: 13px;
                height: 13px;
                img {
                    opacity: .25;
                }
            }
            .like-3 {
                left: 57.84%;
                bottom: 39.72%;
                width: 32px;
                height: 32px;
                img {
                    opacity: .85;
                }
            }
            .like-4 {
                left: auto;
                right: 23.46%;
                bottom: 39.74%;
                width: 13px;
                height: 13px;
                img {
                    opacity: .5;
                }
            }
        }
    }
}