@use "../modules";
@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.article-related {

	> .section__wrapper {
		padding: 64px 20px 0 20px;

		@include mix.maxw(var.$w-mob) {
			padding: 64px 0 0 0;
		}

		> .title {

		}
	}

	&__blog-card {
		padding-top: 32px;

		.blog-card {

			@include mix.maxw(var.$w-mob) {
				width: 333px;
			}

			&__photo {
				height: 292px;

				@include mix.maxw(var.$w-mob) {
					width: 325px;
					height: 325px;
				}
			}

			&__title {
				h2 {
					@extend .body-m-sb;
				}
			}
		}
	}

	&.spacer--120 {
		height: 100px;
	}
}