@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.benefits-card {
	margin-top: 59px;

	&__slider {
		position: relative;
		margin: 64px 0 32px 0;

		.swiper-wrapper {
			cursor: grab;
			&:active {
				cursor: grabbing;
			}
		}
	}

	&__item {
		position: relative;
		&.swiper-slide {
			width: 460px;
			height: 720px;

			@include mix.maxw(var.$w-mob) {
				width: 333px;
				height: 520px;
			}
		}

		> .video-block__source {
			position: relative;

			> img,
			> video {
				z-index: 1;
			}

			&.toner {
				&:after {
					border-radius: 32px;
					background: var(--toner-160);
					z-index: 2;
				}
			}

		}
	}

	&__navigation {

	}


}