@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.charity {

	&.article-header {
		.title {
			> h1 {
				@include mix.maxw(var.$w-mob) {
					padding: 0 55px;
				}
			}

			> p {
				@include mix.maxw(var.$w-mob) {
					font-size: 17px;
					line-height: 22px;
				}
			}
		}
	}

	> .section__wrapper {
		gap: 32px;
		> .title {
			gap: 24px;

			@include mix.maxw(var.$w-mob) {
				gap: 8px;
			}

			> h1 {
				padding-top: 0;
			}
			> p {
				color: var(--white);
			}
		}
	}

	&__button {
		z-index: 3;
	}

	&__plates {

	}

	&__program-image {
		width: 100%;
		background-color: var(--bg-light);

		@include mix.maxw(var.$w-tab) {
			padding: 0 20px;
		}

		> .section__wrapper {
			padding: 81px 0 0 0;
			height: 810px;
			background-position: bottom;
			background-repeat: no-repeat;
			background-size: cover;

			@include mix.maxw(var.$w-tab) {
				background-size: contain;
			}

			@include mix.maxw(var.$w-mob) {
				height: auto;
				padding: 64px 20px;
				background-image: unset !important;
			}
		}
	}

	&__reviews {

		.reviews {
			@include mix.flexbox(flex-start);
			flex-direction: column;
			background-color: transparent;

			&__title {
				@include mix.maxw(var.$w-mob) {
					> h2 {
						padding: 0 20px;
					}
				}
			}

			&__card {
				background-color: var(--bg-light);
			}

			&__footer {
				> p {
					color: var(--gray-2);
				}
			}

			&__description {
				@include mix.maxw(var.$w-mob) {
					-webkit-line-clamp: 6;
				}
			}
		}
	}

	&__cta {
		> .cta {
			background-color: transparent;
			.cta__wrapper {
				@include mix.maxw(var.$w-mob) {
					gap: 110px;
				}
			}
		}
	}

	@include mix.maxw(var.$w-mob) {
		.spacer--120 {
			height: 100px;
		}
	}
}