@use "../utilities/mixins" as mix;
.charity {

	> .section__wrapper {
		gap: 32px;
		> .title {
			gap: 24px;
			> h1 {
				padding-top: 0;
			}
			> p {
				color: var(--white);
			}
		}
	}

	&__button {
		z-index: 3;
	}

	&__plates {

	}

	&__program-image {
		width: 100%;
		height: 810px;
		padding-top: 81px;
		background-color: var(--bg-light);
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&__reviews {

		.reviews {
			@include mix.flexbox(flex-start);
			flex-direction: column;
			background-color: transparent;

			&__title {
				text-align: center;
				gap: 24px;

				> p {
					color: var(--black);
					> span {
						color: var(--gray);
					}
				}
			}

			> .swiper-container {
				margin: 64px 0;
				width: var(--w-content);
				height: 540px;

				> .swiper-wrapper {

					cursor: grab;
					&:active {
						cursor: grabbing;
					}
				}
			}

			> .swiper-pagination-clickable {
				gap: 8px;
				> .swiper-pagination-bullet {
					background: var(--gray-3);
					opacity: 1;
					transition: all ease-in-out .2s;

					&.swiper-pagination-bullet-active {
						background: var(--white);
						border: 2px solid var(--yellow-main);
						transition: none;
					}

					&:hover:not(.swiper-pagination-bullet-active) {
						background: var(--gray);
					}
				}
			}

			&__card {
				background-color: var(--bg-light);
			}

			&__footer {
				> p {
					color: var(--gray-2);
				}
			}
		}
	}

	&__cta {
		> .cta {
			background-color: transparent;
		}
	}
}