@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.dialogs {
	position: fixed;
	display: none;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
	overflow: hidden auto;
	-webkit-overflow-scrolling:touch;
	background: var(--toner-160);
	backdrop-filter: blur(24px);
	top: 0;
	left: 0;

	.close-bg {
		position: fixed;
		z-index: 51;
		width: 100%;
		height: 100%;
	}

	.flex-popup {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100%;
		width: 100%;
		box-sizing: border-box;

		// Позвонить
		&.popup--call {
			.popup {
				animation: upCall 1600ms ease forwards;
				@keyframes upCall {
					0% {
						opacity: 0;
						transform: translate3d(100%, -100vh, 0) scale(0);
					}
					50% {
						opacity: .3;
						transform: translate3d(0, 0, 0) scale(.5);
					}
					100% {
						opacity: 1;
						transform: translate3d(0, 0, 0) scale(1);
					}
				}
			}
		}

		// Политика конфиденциальности
		&.popup--policy {
			.popup {

			}
		}

		// Подробнее на странице продукта (Детальнiше)
		&.popup--more-detail {
			.popup {
				&__wrapper {
					width: 800px;
					max-width: 800px;
					min-height: 372px;
				}
			}
		}

		// Корзина
		&.popup--cart {
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: row-reverse;

			.popup {
				position: absolute;
				top: 0;
				right: -100%;
				margin: 0;
				transition: right 300ms;

				&.active {
					right: 0;
					margin: 4px 4px 4px 0 !important;
				}

				&__wrapper {
					width: 368px;
					height: calc(100vh - 8px);
					transform: translate3d(0,0,0) scale(1);
				}

				&__title {
					display: flex;
					align-items: center;
					margin: 0 20px 0 20px;
					padding-bottom: 22px;
					//border-bottom: 1px solid var(--gray-3);
				}

				&__content {
					height: calc(100vh - 8px);
					padding: 24px 4px 4px 4px;
				}

			}
		}
	}

	.close {
		z-index: 53;
		&:before,
		&:after {
			background: var(--white);
		}
	}

	.popup {
		display: none;
		opacity: 0;
		margin: 0 auto;
		position: relative;
		z-index: 52;
		width: 100%;
		max-width: max-content;
		border: none;
		padding: 0;
		box-sizing: border-box;
		transform: translate3d(0, -30px, 0) scale(.9);
		transition: all ease-in-out .3s;
		background: transparent;
		color: var(--black);

		@include mix.maxw(1000px) {
			padding: 30px 0;
		}
		@include mix.maxw(450px) {
			max-width: 100% !important;
			width: 100% !important;
		}


		&.active {
			opacity: 1;
			transform: translate3d(0,0,0) scale(1);
		}

		&.form-popup {
			max-width: 480px;
			text-align: center;

			form {
				max-width: 320px;
				margin: 0 auto;
				.item {
					flex: 1 1 100%;
					margin-bottom: 30px;
					text-align: left;
				}
				button {
					flex: 1 1 100%;
					margin: 10px 0;
				}
			}
		}

		&.text-popup {
			font-size: 13px;
			p {
				font-weight: 400;
			}
		}

		.close {
			position: absolute;
			right: 24px;
			top: 24px;

			display: flex;
			align-items: center;
			justify-content: center;

			width: 24px;
			height: 24px;

			border-radius: 100%;
			background-color: #9C9C9C;

			cursor: pointer;

			.ico {
				display: flex;
				width: 10px;
				height: 10px;
				use {
					fill: var(--line-light);
					transition: all ease-in-out .2s;
				}
			}

			&:hover {
				.ico {
					use {
						fill: var(--black);
					}
				}
			}

			@include mix.maxw(1000px) {
				display: flex;
			}
		}
	}

	.thanks-popup {
		background: rgba(0,0,0,0.65);
		position: fixed;
		z-index: 102;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: none;
		.close {
			z-index: 103;
		}
		.close-bg {
			z-index: -1;
		}
		.popup {
			opacity: 1 !important;
			display: block !important;
			background-color: var(--white);
			text-align: center;
		}
	}
}

.popup {
	background-color:transparent;

	&__wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		width: 480px;
		min-height: 372px;
		margin: 0 auto;
		border-radius: 16px;
		background-color: var(--white);
		position: relative;
		z-index: 2;
		max-width: 480px;
		padding: 0;
		box-sizing: border-box;
		overflow: visible;
	}

	&__content {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 48px 80px;

		h3 {
			color: var(--black);
			text-align: center;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 32px;
		gap: 24px;
	}

}

//TESTING of POPUP LAYOUT
//body {
//	overflow: hidden;
//}
//
//.dialogs {
//	display: block;
//	opacity: 1;
//
//	.popup {
//		opacity: 1;
//		transform: translate(0, 0);
//		display: block;
//		margin: 0 auto;
//	}
//}
//END of TESTING POPUP LAYOUT
