@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.gallery {
	&__preview {
		position: relative;
		width: 64px;
		height: 100%;
		overflow-y: auto;

		@include mix.maxw(var.$w-mob) {
			display: none;
		}

		.swiper-container {
			width: 100%;
			height: 100%;
		}

		.swiper-slide {
			@include mix.flexbox;
			height: 80px !important;
			cursor: pointer;
			opacity: 16%;
			background-color: var(--bg-light-2);
			transition: all ease-in-out .2s;

			&.swiper-slide-thumb-active {
				opacity: 1;
				&:hover {
					opacity: 1;
				}
			}

			&:hover {
				opacity: 70%;
			}

			> img,
			> video {
				display: block;
				width: 100%;
				height: 100%;
			}
			> img{
				object-fit: contain;
			}
			> video {
				object-fit: cover;
			}
		}
	}

	&__media {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;

		cursor: grab;
		&:active {
			cursor: grabbing;
		}

		.swiper-wrapper {
			> .swiper-slide {
				> img,
				> video {
					display: block;
					width: 100%;
					height: 100%;
				}
				> img{
					object-fit: contain;
				}
				> video {
					object-fit: cover;
				}
			}
		}
	}
}
