@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 8px var(--c-padding);
	backdrop-filter: blur(20px);
	background: rgba(24, 24, 24, 0.85);
	z-index: 3;

	&__wrapper {
		padding: 8px var(--c-padding);
		height: max-content;
		@include mix.flex-justify('flex-start');
		@include mix.wrapper;

		&--full {
			padding: 8px var(--c-padding);
			height: max-content;
			@include mix.flex-justify('flex-start');
			@include mix.wrapper(100%, 20px);
		}

		&--navigation {
			@include mix.flex-justify('flex-start');
			flex-direction: column;
			@include mix.wrapper;

			@include mix.maxw(var.$w-mob-s) {
				padding: 0 20px;
			}
		}
	}


	&__logo {
		width: 123px;
		height: auto;
		margin-right: 37px;

		img {
			width: 100%;
			height: auto;
		}
	}

	.sandwich {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: 46px;
		padding: 8.5px 0;
		cursor: pointer;

		span {
			display: block;
			width: 32px;
			height: 2px;
			border-radius: 2px;
			background: #fff;
			margin: 0 auto 3px;
			transition: all ease-in-out .2s;
		}

		&.active {
			span {
				&:nth-child(1) {
					transform: translateY(5px) rotate(15deg);
				}
				&:nth-child(2) {
					opacity: 0;
					filter: alpha(opacity=0);
				}
				&:nth-child(3) {
					transform: translateY(-5px) rotate(-15deg);
				}
			}
		}
	}

	&__navigation {
		display: none;
		position: relative;
		z-index: 2;
		width: 100%;
		margin-top: 8px;
		height: calc(100vh - var(--h-header));
		//backdrop-filter: blur(20px);
		overflow-y: auto;

		ul {
			&.promo-links__directions {
				li {
					a {
						font-size: 17px;
						line-height: 22px;
						font-weight: 600;
					}
				}
			}
			&.promo-links__catalog {
				li {
					a {
						font-size: 13px;
						line-height: 140%;
						font-weight: 400;
					}
				}
			}
		}
	}

	&__call {
		margin-right: 8px;

		svg {
			width: 20px;
			height: 20px;
			fill: var(--white);
		}

	}

	&__catalog {
		margin-right: 16px;
	}

	&__cart {
		position: relative;
		z-index: 1;
		svg {
			width: 28px;
			height: 24px;
			fill: var(--white);
		}

		&--count {
			@include mix.flex-justify;
			text-wrap-mode: nowrap;
			position: absolute;
			top: 0;
			right: 0;
			padding: 1px 2px 1px 3px;
			min-width: 13px;
			height: 13px;
			max-height: 13px;
			background-color: var(--yellow-secondary);
			border-radius: 50%;
			z-index: 2;

			.count {
				font-weight: 700;
				font-size: 8px;
				color: var(--black);
				font-family: var(--font-family-b);
			}
		}
	}


	.button {
		height: 32px;
	}
}