@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.lend-micro-greens {
	&.article-header {
		background-color: var(--bg-light);

		> .section__wrapper {
			> .title {

				> p {
					@include mix.maxw(var.$w-mob) {
						font-size: 17px;
						line-height: 22px;
					}

				}
			}
		}
	}

	&__video-block {
		> .video-block {
			gap: 64px;
		}
	}
	&__benefits-card-slider {
		margin-top: 64px;
		> .video-block {

			.video-block__description {
				padding-right: 25px;
			}

			.benefits-card__item {
				> .video-block__source {

					> .video-block__button {

						&--popup {
							> svg {
								> use {
									fill: var(--line-light);
								}
							}

							&:hover {
								> svg {
									> use {
										fill: var(--black);
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&__product-slider {
		padding-top: 32px;

		> .product-slider {
			> .swiper-wrapper {
				> .swiper-slide {
					width: var(--w-content);
				}
			}
		}
	}

	&__reviews {
		.reviews {

			&__title {
				> p {
					padding: 0 82px;
					@include mix.maxw(var.$w-mob) {
						padding: 0;
					}
				}
			}

			&__card {
				background-color: var(--line-light);
			}

		}
	}

	&__accordion {

		> .title {
			text-align: left;

			> h4 {
				@include mix.maxw(var.$w-mob) {
					font-size: 42px;
					line-height: 120%;
				}
			}
		}

		> .accordion {
			margin-top: 64px;
		}

	}

	@include mix.maxw(var.$w-mob) {
		.spacer--120 {
			height: 100px;
		}

		.benefits-card__navigation {
			padding: 0 20px;
		}
	}
}