.lend-merch {
	&.article-header {
		background-color: var(--white);

		> .section__wrapper {
			> .article-header__bg {
				> img {
					object-fit: cover;
				}
			}
		}
	}

	&__product-slider {
		padding-top: 32px;
	}
}