@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.lend-series-pro {
	color: var(--white);
	background-color: var(--dark);

	> .section {
		&.article-header {
			> .section__wrapper {
				> .title {
					gap: 8px;
					z-index: 2;

					> h1 {
						padding-top: 0;
						color: var(--white);

						@include mix.maxw(var.$w-mob) {
							> br {
								display: inline;
							}
						}

						&.c-black {
							color: var(--dark);
						}
					}

					> p {
						background: var(--gradient-pro);
						background-clip: text;
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;

						@include mix.maxw(var.$w-mob) {
							font-size: 17px;
							line-height: 22px;
							> br {
								display: none;
							}
						}

						&.c-white {
							background: transparent;
							-webkit-text-fill-color: var(--white);
						}
						&.c-black {
							background: transparent;
							-webkit-text-fill-color: var(--dark);
						}
					}
				}
				> .button__wrapper {
					margin-top: 24px;
					z-index: 2;
				}

				> .article-header__bg {
					opacity: 1;
					> img,
					> video {
						object-fit: scale-down;
						object-position: center;
						width: 100%;
						height: 100%;
					}
				}

			}
		}
	}

	&__benefits-card-slider {
		margin-top: 64px;

		> .video-block {
			.benefits-card__item {
				> .video-block__source {
					background-color: var(--dark);

					&.toner {
						&:after {
							background-color: var(--toner);
						}
					}

					> .video-block__button {

						&--popup {
							> svg {
								> use {
									fill: var(--line-light);
								}
							}

							&:hover {
								> svg {
									> use {
										fill: var(--black);
									}
								}
							}
						}
					}
				}
			}
		}

		.slider-nav__next:after,
		.slider-nav__prev:after {
			top: 3px;
		}

		.slider-nav__next:after {
			right: 1px;
		}
	}

	&__video-block {
		> .video-block {
			gap: 50px;
			background-color: var(--dark);

			@include mix.maxw(var.$w-mob) {
				gap: 54px;
			}

			> .title {
				> h2 {
					color: var(--white);
				}
				> p {
					padding: 0 80px;
					color: var(--pro-grey-pro);

					@include mix.maxw(var.$w-mob) {
						padding: 0;
						> br {
							display: none;
						}
					}

					> span {
						color: var(--white);

						@include mix.maxw(var.$w-mob) {
							> br {
								display: none;
							}
						}
					}
				}
			}

			> .video-block__source {
				background-color: var(--dark);
			}
		}
	}


	&__product-slider {
		padding-top: 32px;

		.product-slider {
			> .swiper-wrapper {

				> .swiper-slide {
					width: 800px;

					> .title {
						> h2 {
							color: var(--white);
						}
						> p {
							color: var(--grey-pro);
						}
					}
				}
			}

			&__actions {

				> .product-card {

					&__price {
						> p {
							color: var(--white);
						}
					}

					&__delivery {
						> .product-card__delivery {
							&--icon {
								&:after {
									background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width='8'%20height='7'%20viewBox='0%200%208%207'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M2.53496%205.82187C2.53496%205.82187%200.407977%203.59613%200.255084%203.43651C-0.0850281%203.08075%20-0.0850281%202.50184%200.255084%202.14638C0.596063%201.78971%201.1475%201.78971%201.48848%202.14638L2.86547%203.58672C3.0367%203.76582%203.31458%203.76459%203.48436%203.58458L6.50782%200.376444C6.84764%200.0158296%207.40286%200.0133887%207.74557%200.37189C8.08306%200.724905%208.0851%201.30141%207.74992%201.65716C4.46659%205.14168%203.84307%205.82157%203.84307%205.82157C3.4826%206.19859%202.89571%206.19891%202.53496%205.82187Z'%20fill='%23000'/%3E%3C/svg%3E");
								}
							}
						}

						> p {
							color: var(--grey-pro);
						}
					}

					&__option {
						padding: 6px;
						border-radius: 16px;
						gap: 12px;
						background-color: var(--black);

						> .product-card__option {

							&--title {
								display: flex;
								align-items: center;
								justify-content: center;
								position: absolute;
								left: auto;
								top: calc(50% - 42px);
								width: 48px;
								height: 22px;
								border-radius: 4px;
								margin-left: 0;
								color: var(--grey-pro);
								background-color: var(--black-bg);
							}

							&--link {
								width: 20px;
								height: 20px;

								&.active {
									border-color: var(--white);
								}

								> span {
									width: 16px;
									height: 16px;

									&.product-card__option {
										&--white {

										}
										&--black {
											background-color: var(--black-pro);
										}
									}
								}
							}

						}
					}
				}
			}

			&__details {
				border-top-color: var(--lines-bg-pro);
				> .flex {
					&:first-child {
						border-right-color: var(--lines-bg-pro);
					}

					> a {
						color: var(--white);

						> svg {
							> use {
								fill: var(--lines-pro);
							}
						}

						&:hover {
							> svg {
								> use {
									fill: var(--white);
								}
							}
						}
					}
				}
			}
		}

	}

	> section {

		> .section__wrapper {

			> .slider-menu {
				> .models-menu {
					background-color: var(--lines-bg-pro);
				}
			}
		}

		> .in-box {
			background-color: var(--dark-bg-pro);

			> .section__wrapper {

				> .title {
					> h3 {
						color: var(--white);
					}
				}

				.grid {
					> .in-box__item {
						> h4 {
							color: var(--white);
						}
					}
				}
			}

			.in-box__pagination {

				&.swiper-pagination-clickable {

					> .swiper-pagination-bullet {
						background: var(--black);

						&.swiper-pagination-bullet-active {
							background: var(--black);
						}

						&:hover:not(.swiper-pagination-bullet-active) {
							background: var(--black);
						}
					}
				}
			}
		}
	}

	&__reviews {
		.reviews {
			&__title {
				> h2,
				> p {
					color: var(--white);
				}

				> p {
					padding: 0 82px;
					@include mix.maxw(var.$w-mob) {
						padding: 0;

						> span {
							color: var(--white);
						}
					}
				}
			}

			&__card {
				background-color: var(--black-bg);
			}

			&__description {
				> p {
					color: var(--white);
				}
			}

			&__footer {
				> p {
					color: var(--gray);
				}
			}
		}
	}

	.about-link {
		> p {
			color: var(--grey-pro);

			> a {
				background: transparent;
				-webkit-text-fill-color: var(--yellow-secondary);

				&:after {
					background: var(--yellow-secondary);
				}
			}
		}

	}

	&__accordion {

		> .title {
			text-align: left;
			> h4 {
				@include mix.maxw(var.$w-mob) {
					font-size: 42px;
					line-height: 120%;
				}
			}
		}

		> .accordion {
			margin-top: 64px;
			border-bottom-color: var(--lines-pro);
		}

		.accordion__item {
			border-top-color:var(--lines-pro);

			> .active {
				> a {
					svg {
						use {
							fill: var(--gray-2);
						}
					}
				}
			}

			> .flex {
				> h4 {
					color: var(--grey-pro);

					&:hover {
						color: var(--white);
					}
				}
			}

			&.active {
				> .accordion__button {
					> a {
						border-color: var(--white);
						> svg {
							use {
								fill: var(--white);
							}
						}
					}
				}
				> .flex {
					> h4 {
						color: var(--white);
					}
				}
			}
		}

		.accordion__button {
			> a {
				color: var(--dark);
				background: var(--dark);
				border-color: rgba(255, 255, 255, .25);

				> svg {
					use {
						fill: rgba(255, 255, 255, .25);
					}
				}

				&:hover {
					border-color: var(--white);
					> svg {
						use {
							fill: var(--white);
						}
					}
				}
			}
		}

		.accordion__content {
			color: var(--grey-pro);
		}

	}

	.products-mobile {

		&__item {
			> .title {
				>  p {
					color: var(--grey-pro);
				}
			}

			> .product-slider__details {
				border-color: var(--lines-pro);
				> .flex {
					> a {
						color: var(--white);
						> svg {
							> use {
								fill: var(--lines-pro);
							}
						}
					}
				}
			}
		}

		&__line {
			background-color: var(--black);
		}

		&__pagination {

			&.swiper-pagination-clickable {

				> .swiper-pagination-bullet {
					background: var(--black);

					&.swiper-pagination-bullet-active {
						background: var(--black);
					}

					&:hover:not(.swiper-pagination-bullet-active) {
						background: var(--black);
					}
				}
			}
		}

		.product-card__responsive {

			.product-card {

				&__price {
					> p {
						color: var(--white);
					}
				}

				&__option {
					background-color: var(--black);

					&--title {
						color: var(--grey-pro);
						background-color: var(--black-bg);
					}


					&--link {
						&.active {
							border-color: var(--white);
						}

						> span {
							&.product-card__option {
								&--white {

								}
								&--black {
									background-color: var(--black-pro);
								}
							}
						}
					}
				}

				&__delivery {
					&--icon {
						&:after {
							background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width='8'%20height='7'%20viewBox='0%200%208%207'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M2.53496%205.82187C2.53496%205.82187%200.407977%203.59613%200.255084%203.43651C-0.0850281%203.08075%20-0.0850281%202.50184%200.255084%202.14638C0.596063%201.78971%201.1475%201.78971%201.48848%202.14638L2.86547%203.58672C3.0367%203.76582%203.31458%203.76459%203.48436%203.58458L6.50782%200.376444C6.84764%200.0158296%207.40286%200.0133887%207.74557%200.37189C8.08306%200.724905%208.0851%201.30141%207.74992%201.65716C4.46659%205.14168%203.84307%205.82157%203.84307%205.82157C3.4826%206.19859%202.89571%206.19891%202.53496%205.82187Z'%20fill='%23000'/%3E%3C/svg%3E");
						}
					}
				}
			}
		}

		.button {
			&--black {
				color: var(--white);
				border-color: var(--white);
			}
		}

	}

	@include mix.maxw(var.$w-mob) {
		.spacer--120 {
			height: 100px;
		}

		.products-mobile__actions {

			> .product-card__responsive {
				margin-top: 48px;
			}
			> .product-card__buttons--clone {
				margin-top: 20px;
			}
		}
	}

}