@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.lend-merch {
	&.article-header {
		background-color: var(--white);

		> .section__wrapper {
			> .article-header__bg {
				> img {
					object-fit: cover;
				}
			}
		}
	}

	&__product-slider {
		padding-top: 32px;

		> .product-slider {
			> .swiper-wrapper {
				> .swiper-slide {
					width: var(--w-content);
				}
			}
		}
	}

	@include mix.maxw(var.$w-mob) {
		.spacer--120 {
			height: 100px;
		}
	}
}