@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.main-description {
	&__content {
		color: var(--gray);
		text-align: left;
		font-size: 10px;
		line-height: 120%;
		font-weight: 400;
		height: auto;
		max-height: 420px;
		overflow-x: auto;

		@include mix.maxw(var.$w-mob) {
			padding: 0 8px 0 20px;
		}
	}
}