@use "../utilities/mixins" as mix;
.main-intro {
	@include mix.flex-justify(center, flex-start);
	width: 100%;
	height: 100vh;

	&__wrapper {
		text-align: center;
		z-index: 2;

		.title {
			margin-bottom: 32px;
			color: var(--white);

			&__description {
				margin-top: 8px;
				font-size: 18px;
			}
		}
	}

	&__button {
		display: flex;
		justify-content: center;
		gap: 16px;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
}