@use "../utilities/mixins" as mix;
.offers-card {
	margin-top: 59px;

	&__slider {
		position: relative;
		margin: 64px 0 32px 0;

		.swiper-wrapper {
			cursor: grab;
			&:active {
				cursor: grabbing;
			}
		}
	}

	&__item {
		position: relative;
		&.swiper-slide {
			width: 316px;
			height: 316px;
		}
	}

	&__navigation {

	}
}