@use "../utilities/mixins" as mix;
.offers-card {
	margin-top: 59px;

	&__slider {
		position: relative;
		margin-bottom: 32px;

		.swiper-wrapper {
			cursor: grab;
			&:active {
				cursor: grabbing;
			}
		}
	}

	&__item {
		position: relative;
		&.swiper-slide {
			width: 316px;
			height: 316px;
		}
	}

	&__wrapper {
		padding-top: 32px;
	}

}