@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.opt-page {
	&.article-header {
		height: auto;
		min-height: 100vh;
		background-color: var(--white);

		.title {
			gap: 24px;

			@include mix.maxw(var.$w-mob) {
				gap: 8px;
			}

			h1, p {
				padding-top: 0;
				color: var(--black);
			}

			> p {
				@include mix.maxw(var.$w-mob) {
					font-size: 17px;
					line-height: 22px;
					> br {
						display: none;
					}
				}

				> span {
					@include mix.maxw(var.$w-mob) {
						> br {
							display: none;
						}
					}
				}
			}

		}
	}

	&__map {
		padding-top: 64px;

		@include mix.maxw(var.$w-mob) {
			padding-top: 144px;
		}

		> img,
		> svg {
			width: auto;
			height: 540px;

			@include mix.maxw(var.$w-tab) {
				width: 100%;
				height: 100%;
			}

			@include mix.maxw(var.$w-mob) {
				width: 100%;
				height: 100%;
			}
		}
	}

	&__partners {
		padding-top: 32px;
	}

	&__models-menu {
		margin-top: 32px;
	}

	.offers-card__wrapper {
		padding-top: 32px;
	}

	@include mix.maxw(var.$w-mob) {
		.spacer--120 {
			height: 100px;
		}
	}

	.video-block {
		@include mix.maxw(var.$w-mob) {
			gap: 64px;
		}
	}

}