@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.order-form {
	$this: &;

	&__wrapper {
		@include mix.flexbox(flex-start, flex-start);
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 44px;
		width: 100%;

		@include mix.maxw(var.$w-mob) {
			gap: 32px;
		}
	}

	&__header {

	}

	&__item {
		width: 100%;

		.body-s-reg {
			margin-top: 4px;
		}
	}

	&__res {
		@include mix.maxw(var.$w-mob) {
			flex-direction: column !important;
			gap: 32px !important;

			> .align-left,
			> .align-right {
				justify-content: center;
			}

			.form-description {
				> br {
					display: none;
				}
			}

			.button {
				width: 100%;
				align-items: center;
				justify-content: center;
			}
		}
	}

	&__input {
		margin-top: 16px;
		width: 100%;

		@include mix.maxw(var.$w-mob) {
			input[type=checkbox] {
				width: 20px;
			}
		}

		.inp-wrp {
			width: 100%;
		}

		.flex {
			width: 100%;
			gap: 8px;
		}

		.form-radio {
			padding-bottom: 8px;
		}

		&:last-child {
			.form-radio {
				padding-bottom: 0 !important;
			}
		}

	}

	&__flex {
		@include mix.flexbox(flex-start, flex-start);
		flex-direction: column;
		flex-wrap: nowrap;
		gap: 24px;
	}

	&__dont-call-back {
		@include mix.flexbox(space-between, flex-start);
		flex-direction: column;
		padding: 24px;
		border-radius: 8px;
		background-color: var(--bg-light);

		h2 {
			color: var(--orange-2);
		}

		span {
			position: relative;
			display: block;
			flex: 0 0 auto;
			width: 16px;
			height: 16px;
			margin-right: 4px;
			margin-bottom: 1px;
			border-radius: 50%;
			background: var(--orange-2);

			svg {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 8px;
				height: 8px;
				use {
					fill: var(--white);
				}
				transform: translate(-50%, -50%);
			}
		}

		p {
			margin-top: 4px;
		}

		.flex {
			align-items: center;
		}
	}

}