@use "../utilities/mixins" as mix;
.order-cart {
	border-radius: 4px 4px 0 0;
	border: 1px solid var(--gray-3);

	&__wrapper {
		@include mix.flexbox(flex-start, flex-start);
		flex-direction: column;
		flex-wrap: nowrap;
		width: 320px;
	}

	&__header {
		width: 100%;
		border-radius: 4px 4px 0 0;
		padding: 12px 0 10px 20px;
		background-color: var(--bg-light);
		border-bottom: 1px solid var(--gray-3);
	}

	&__products {
		@include mix.flexbox(flex-start, flex-start);
		flex-direction: column;
		padding: 10px 24px 21px 24px;
		width: 100%;
		height: 100%;

		.popup-cart__details {
			justify-content: flex-end;
			align-items: flex-start;
		}

		.popup-cart__item {
			justify-content: flex-start;
			align-items: flex-start;
			gap: 0; // если тегов больше одного то нужно ставить отступ 8px
		}

		.popup-cart__title {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 8px;

			a:not(.tag) {
				color: var(--black);
				&:hover {
					color: var(--yellow-main);
				}
			}
		}

		.popup-cart__total {
			padding: 16px 0 0;
		}

		.popup-cart__item--photo {
			a {
				&:hover {
					img {
						opacity: 70%;
					}
				}
			}
		}
	}

	&__promo-code {
		position: relative;
		@include mix.flexbox(flex-start);
		width: 100%;
		padding: 16px 0;
		border-bottom: 1px solid var(--gray-3);

		input {
			border-radius: 4px;
			border: 1px dashed var(--gray-3);
			padding: 12px 120px 12px 16px;
			z-index: 1;
		}

		button {
			position: absolute;
			top: auto;
			right: 5px;
			z-index: 2;
		}
	}


	&__calc {
		@include mix.flexbox(flex-start);
		flex-direction: column;
		width: 100%;
		padding: 16px 0;
		border-bottom: 1px solid var(--gray-3);
		gap: 4px;

		&--item {
			@include mix.flexbox(space-between);
			width: 100%;
		}

		&--discount {
			color: var(--orange-2);
		}
	}


}