@use "../modules";
@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.plates {
	padding-top: 40px;
	gap: 16px;

	@include mix.maxw(var.$w-mob) {
		padding-top: 0;
		gap: 20px;
	}

	> .grid {
		gap: 16px;

		@include mix.maxw(var.$w-mob) {
			gap: 20px;
		}

		> * {
			flex: 0 0 calc(50% - 8px);

			@include mix.maxw(var.$w-mob) {
				flex: 1 1 auto;
			}
		}

		> .plates__item {
			&:first-child {
				@include mix.flexbox(flex-start, flex-start);
				padding: 32px;

				background-image: url('../../assets/img/charity/plates-bg-400.jpg');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;

				/*background:
						linear-gradient(90deg, rgba(40,40,39,1) 0%, rgba(255,193,101,0) 100%),
						var(--dark) url('../../assets/img/charity/plates-bg-400.jpg')
						center center no-repeat;*/


				> .plates__description {
					> h4 {
						background: linear-gradient(90deg, rgba(248,202,2,1) 0%, rgba(255,223,101,1) 100%);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}
			}

			&:last-child {
				@include mix.flexbox(flex-end, flex-start);
				padding: 32px;

				background-image: url('../../assets/img/charity//plates-bg-zsu.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;

				/*background:
						linear-gradient(90deg, rgba(40,40,39,1) 0%, rgba(255,193,101,0) 100%),
						var(--dark) url('../../assets/img/charity/plates-bg-zsu.png')
						center center no-repeat;*/

				> .plates__description {
					> h4 {
						background: linear-gradient(90deg, rgba(59, 59, 59, 1) 0%, rgba(160, 255, 101, 1) 100%);
						-webkit-background-clip: text;
						-webkit-text-fill-color: transparent;
					}
				}

				> img {
					&.ico-zsu {
						display: flex;
						position: absolute;
						top: 32px;
						left: 32px;
						width: 47px;
						height: 65px;
						z-index: 2;
						pointer-events: none;
					}
				}
			}
		}
	}

	&__item {
		position: relative;
		@include mix.flexbox(flex-start, center);
		flex-direction: column;
		width: 100%;
		height: 440px;
		padding: 48px 105px 32px 104px;
		border-radius: 32px;
		color: var(--black);
		background: linear-gradient(90deg, rgba(255,223,101,0.64) 0%, rgba(255,193,101,0.64) 100%);

		@include mix.maxw(var.$w-mob) {
			padding: 32px 20px 32px 21px;

			> h4 {
				padding: 0 28px;
				font-size: 17px;
				line-height: 22px;
				text-align: center;
			}
		}
	}

	&__description {

		p, h4 {
			font-family: var(--font-family-b);
			letter-spacing: -0.2px;
		}

		> p {
			font-size: 24px;
			line-height: 30px;
			color: var(--gray-3);

			@include mix.maxw(var.$w-mob) {
				font-size: 17px;
				line-height: 22px;
			}
		}

		> h4 {
			font-size: 96px;
			line-height: 116%;

			@include mix.maxw(var.$w-mob) {
				font-size: 52px;
			}
		}
	}

	&__image {
		margin-top: 38px;

		@include mix.maxw(var.$w-mob) {
			margin-top: 93px;
		}

		> img {
			display: block;
			pointer-events: none;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__about {
		margin-top: 44px;

		@include mix.maxw(var.$w-mob) {
			margin-top: 32px;
		}

		> p {
			color: var(--black);
		}
	}

}