@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.podcast {
	@include mix.flexbox;
	padding: 40px 0;
	gap: 40px;

	@include mix.maxw(var.$w-mob) {
		flex-direction: column-reverse;
		padding: 32px 0;
		gap: 32px;
	}

	.button {
		padding: 11px 24px;
		border-radius: 32px;
		gap: 16px;

		.ico-audio-play {
			@include mix.flexbox;
			width: 24px;
			height: 24px;
			max-width: 24px;
			max-height: 24px;
			border-radius: 50%;
			border: 1px solid var(--black);
			transition: all linear .2s;

			> svg {
				width: 6.67px;
				height: 9.33px;
				transition: all linear .2s;
			}
		}

		&:hover {
			.ico-audio-play {
				border-color: var(--yellow-main);
				svg {
					fill: var(--yellow-main);
				}
			}
		}

	}

	&__button {
		@include mix.flexbox(flex-start, center);

		@include mix.maxw(var.$w-tab) {
			width: 100%;
		}

		@include mix.maxw(var.$w-mob) {
			width: 100%;
			.button {
				width: 100%;
				text-align: left;
			}
		}
	}

	&__progress {
		@include mix.flexbox(flex-start, center);
		width: 515px;
		gap: 16px;

		@include mix.maxw(var.$w-tab) {
			width: 62%;
		}

		@include mix.maxw(var.$w-mob) {
			width: 100%;
		}

		&--time {
			font-size: 12px;
			color: var(--gray);
		}

	}
}