@use "../utilities/mixins" as mix;
.product-card {
	&__wrapper {
		@include mix.flex-justify(flex-start, flex-start);
		padding-left: 24px;
		gap: 80px;
	}

	&__item {
		display: flex;
	}

	&__photo-gallery {
		@include mix.flex-justify(space-between, center);
		top: calc(var(--h-header) + 24px);
		width: 696px;
		height: 608px;
		gap: 32px;
	}

	&__description {
		width: 400px;
		height: auto;
	}

	&__title {
		.body-s-sb {
			margin-top: 16px;
			color: var(--gray);
		}
	}

	&__gift {
		@include mix.flex-justify(flex-start, flex-start);
		flex-direction: row;
		width: max-content;
		gap: 12px;
		border-radius: 8px;
		margin-top: 24px;
		padding: 12px 16px;
		background: rgba(255, 223, 101, 0.16);

		span, input {
			cursor: pointer;
		}

		a {
			padding-left: 2px;
			color: var(--black);
			text-decoration: underline;

			&:hover {
				color: var(--yellow-main);
			}
		}
	}
}