@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.program-grid {
	@include mix.flexbox(flex-start);
	flex-direction: column;

	&__description {
		text-align: center;
		gap: 24px;

		@include mix.maxw(var.$w-mob) {
			margin-top: 8px;
			gap: 32px;

			> h2 {
				padding: 0 26px;
			}
		}
	}

	&__card {
		margin-top: 64px;

		&.grid {

			@include mix.maxw(var.$w-mob) {
				gap: 64px;
			}

			> * {
				flex: 0 0 33.334%;

				@include mix.maxw(var.$w-mob) {
					flex: 1 1 auto;
				}
			}
		}

		.flex {
			gap: 20px;
			padding: 0 40px;
			text-align: center;
			position: relative;
			z-index: 1;

			@include mix.maxw(var.$w-mob) {
				padding: 20px 56.5px;
				border-radius: 24px;
				border: 1px solid var(--line-light);
				> .button {
					border-radius: 24px;
					padding: 14px 24px;
				}
			}

			&:not(:last-child):after {
				content: "";
				position: absolute;
				top: 20px;
				left: 50%;
				width: 100%;
				height: 1px;
				background-color: var(--line-light);
				z-index: -1;

				@include mix.maxw(var.$w-mob) {
					display: none;
				}
			}
		}
	}

	&__count {
		width: 44px;
		height: 44px;
		border-radius: 50%;
		background-color: var(--bg-light);

		&.grid {
			align-items: center;
			justify-content: center;
		}

		> h3 {
			color: var(--black);
		}
	}

	&__footer {
		width: 100%;
		margin-top: 64px;
		padding-top: 16px;
		text-align: center;
		border-top: 1px solid var(--line-light);

		@include mix.maxw(var.$w-mob) {
			padding-top: 0;
			border: 0;
		}
		
		> p {
			color: var(--gray-2);
			> span {
				color: var(--black);
			}
		}
	}

	&__ico {
		&.flex {
			gap: 10px;

			@include mix.maxw(var.$w-mob) {
				padding: 0;
				border-radius: 0;
				border: 0;
			}

			> svg {
				width: 16px;
				height: 16px;
				> use {
					fill: var(--black);
				}
			}

			> span {
				color: var(--pro-grey-pro);
			}
		}
	}

}