@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.program-image {
	@include mix.flexbox(flex-start);
	flex-direction: column;

	&__description {
		text-align: center;
		gap: 24px;

		@include mix.maxw(var.$w-mob) {

			> p {
				font-size: 17px;
				line-height: 22px;
			}

			> p {
				> span {
					> br {
						display: none;
					}
				}
			}
		}

		> p {
			color: var(--black);
			> span {
				color: var(--gray);
			}
		}
	}

	&__cats {
		@include mix.maxw(var.$w-mob) {
			margin-top: 12px;
			width: 100%;
			height: 208px;

			> img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: scale-down;
			}
		}
	}

	&__button {
		padding-top: 32px;

		@include mix.maxw(var.$w-mob) {
			padding-top: 20px;
		}
	}

	&__hint {
		padding-top: 16px;
		text-align: center;
		color: var(--black);

		@include mix.maxw(var.$w-mob) {
			padding-top: 20px;
		}
	}
}