.products-mobile {
	width: 100%;

	&__item {
		margin-top: 32px;
		padding-bottom: 31px;
		width: 100%;

		&:last-child {
			padding-bottom: 0;
		}

		> .title {
			padding: 0 20px 0 20px;
			gap: 8px;

			>  h1 {}
			>  p {
				color: var(--gray-2);
			}
		}

		> .product-slider__details {
			margin-top: 20px;
			padding: 0 20px 0 20px;
			width: 100%;
			> .flex {
				padding-top: 20px;
				&:first-child {
					border: none;
					align-items: flex-start;
				}

				&:last-child {
					align-items: flex-end;
				}

				> a {
					> svg {
						> use {
							fill: var(--lines-pro);
						}
					}
				}
			}
		}
	}

	&__line {
		width: 100%;
		height: 1px;
		background-color: var(--gray-3);
	}

	&__slider {
		margin-top: 34px;

		&.swiper--no {
			justify-content: center;
			box-sizing: content-box;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			overflow: hidden;
			list-style: none;
			padding: 0;
			display: flex;
			transition-property: transform;
			z-index: 1;
		}

		&.swiper--no,
		&.swiper-container {
			width: 100%;
			height: 170px;

			> .swiper--no,
			> .swiper-wrapper {
				> .flex,
				> .swiper-slide {
					flex-shrink: 0;
					height: 100%;
					position: relative;
					transition-property: transform;
					> img {
						width: 100%;
						height: 100%;
						object-fit: scale-down;
					}
				}
			}
		}
	}

	&__pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 8px;

		&.swiper-pagination-clickable {
			padding: 0 20px 0 20px;
			gap: 8px;

			> .swiper-pagination-bullet {
				background: var(--gray-3);
				opacity: 1;
				transition: all ease-in-out .2s;

				&.swiper-pagination-bullet-active {
					background: var(--white);
					border: 2px solid var(--yellow-main);
					transition: none;
				}

				&:hover:not(.swiper-pagination-bullet-active) {
					background: var(--gray);
				}
			}
		}
	}

	&__actions {
		padding: 0 20px 0 20px;

		> .product-card__responsive {
			margin-top: 34px;
		}
		> .product-card__buttons--clone {
			margin-top: 34px;
		}
	}
}