@use "../utilities/mixins" as mix;
.reviews {
	@include mix.flex-justify(flex-start);
	flex-direction: column;

	&__title {
		text-align: center;
		gap: 24px;

		> p {
			color: var(--black);
			> span {
				color: var(--gray);
			}
		}
	}

	> .swiper-container {
		margin: 64px 0;
		width: var(--w-content);
		height: 540px;

		> .swiper-wrapper {

			> .swiper-slide {
				background-color: var(--bg-light);
				border-radius: 24px;
				padding: 4px 4px 22px 4px;
			}

			cursor: grab;
			&:active {
				cursor: grabbing;
			}
		}
	}

	> .swiper-pagination-clickable {
		gap: 8px;
		> .swiper-pagination-bullet {
			background: var(--gray-3);
			opacity: 1;
			transition: all ease-in-out .2s;

			&.swiper-pagination-bullet-active {
				background: var(--white);
				border: 2px solid var(--yellow-main);
				transition: none;
			}

			&:hover:not(.swiper-pagination-bullet-active) {
				background: var(--gray);
			}
		}
	}

	&__header {
		width: 100%;
		height: auto;
		gap: 24px;
	}

	&__footer {
		width: 100%;
		align-items: flex-end;
		justify-content: flex-end;
		padding: 0 22px;
		gap: 12px;

		> p {
			color: var(--gray-2);
		}
	}

	&__media {
		align-items: flex-start;
		width: 100%;
		height: 292px;

		> img,
		> video {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 24px;
			object-fit: cover;
		}
	}

	&__description {
		padding: 0 22px;
		height: 162px;
		overflow: hidden;
		text-align: left;
		text-overflow: clip;
		> p {
			color: var(--black);
		}
	}

	&__about {
		margin-top: 64px;
		> p {
			color: var(--black);
			> a {
				position: relative;
				background: var(--gradient-1);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;

				&:after {
					content: '';
					position: absolute;
					left: -0.6px;
					bottom: -0.6px;
					width: 100%;
					height: 0.7px;
					background: var(--gradient-1);
					transform: scaleY(1.5);
					transition: all ease-in-out .2s;
				}

				&:hover {
					&:after {
						opacity: 0;
					}
				}
			}
		}

	}
}