@use "../layout";
@use "../utilities/mixins" as mix;
.reviews {
	background-color: var(--line-light);

	> .section__wrapper {
		transition: all ease-in-out 500ms;

		&.fixed {
			width: auto;
			right: 10px;
			top: 56px;

			.dropdown-filter {
				height: 48px;
				padding: 14px 16px;

				> span:not(.ico-ellipsis) {
					display: none;
					visibility: hidden;
				}
			}
		}
	}

	&__wrapper {
		margin: 0 auto;
		padding: 6px 11px 100px 11px;
		width: 823px;

		&:after {
			content: '';
			display: block;
			width: 100%;
			clear: both;
		}
	}

	&__item {
		position: relative;
		max-width: 320px;
		min-width: 320px;
		margin-top: -140px;
		float: left;
		clear: both;
		z-index: 1;

		&.margin-top-reset {
			margin-top: 0 !important;
		}

		&:after {
			position: absolute;
			content: '';
			display: block;
			bottom: 20.8px;
			width: 40px;
			height: 26px;
			background-image: url("data:image/svg+xml,%3Csvg%20width='40'%20height='26'%20viewBox='0%200%2040%2026'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M11.3529%2012C11.3529%2018.8%202.85287%2020.5%200.352867%2021C-2.14722%2022.5%209.35287%2025.8333%2012.3529%2025.5L39.3529%2019.5L31.3529%200C24.6862%201.16667%2011.3529%205.2%2011.3529%2012Z'%20fill='white'/%3E%3C/svg%3E%0A");
			z-index: -1;
		}

		&.left {
			float: left;
		}

		&.right {
			float: right;
		}

		&:nth-child(odd):not(.right) {
			float: left;

			&:after {
				left: -11px;
			}
		}

		&:nth-child(even):not(.left) {
			float: right;

			&:after {
				right: -11px;
				transform: scaleX(-1);
			}
		}

		.reviews {
			&__card {
				background-color: var(--white);
			}
			&__description {
				-webkit-line-clamp: none;
			}
		}

	}

	&__card {
		gap: 16px;
		border-radius: 24px;
		padding: 4px 4px 22px 4px;
	}

	&__header {
		width: 100%;
		height: auto;
	}

	&__footer {
		width: 100%;
		align-items: flex-end;
		justify-content: flex-end;
		padding: 0 20px;
		gap: 12px;

		> p {
			color: var(--gray-2);
		}
	}

	&__media {
		align-items: flex-start;
		width: 100%;
		height: 292px;

		> img,
		> video {
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 24px;
			object-fit: cover;
		}
	}

	&__description {
		padding: 24px 20px 0 20px;
		overflow: hidden;
		text-align: left;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 9; /* количество видимых строк */
		> p {
			color: var(--black);
		}
	}

	&__filter {
		position: relative;

		.button {
			@include mix.flexbox;
			gap: 16px;

			.ico-ellipsis {
				@include mix.flexbox;
				width: 16px;
				height: 4px;
				transition: all linear .2s;

				> svg {
					width: 100%;
					height: 100%;
					transition: all linear .2s;
				}
			}
		}
	}
}