.vacancies {

	> .section__wrapper {
		gap: 32px;
		> .title {
			width: 731px;
			> h1 {
				padding-top: 0;
			}
		}
	}

	&__button {
		z-index: 2;
	}

	&__accordion {

		> .accordion {
			margin-top: 64px;
		}

	}

}