@use "../utilities/variables" as var;
@use "../utilities/mixins" as mix;
.video-box {
	> .section__wrapper {
		> .title {
			gap: 24px;

			> h3 {
				color: var(--black);
			}
			> p {
				color: var(--black);
			}
		}
	}

	.video-block__source {
		margin-top: 74px;
		width: 100%;
		height: 800px;
		background-color: #E7E7E7;
		border-radius: 0;

		@include mix.maxw(var.$w-mob) {
			height: 520px;
		}

		> img,
		> video,
		> iframe {
			border-radius: 0;
			object-fit: scale-down;
		}
	}
}