// --- PATHS ---
$imgpath: "../img";

// --- BREAKPOINTS ---
$w-mob-s:      450px;  // Small mobile
$w-mob:        640px;  // Mobile
$w-tab:        1200px; // Tablet
$w-laptop:     1500px; // Laptop
$w-min:        320px;  // Min screen
$w-max:        2560px; // Max screen

// CSS Variables
html {
    --c-padding:   0;
    --c-font-size: 14px;
    --w-content:   960px;
    --h-header:    48px;

    // --- FONTS ---
    --font-family:   'Inter-Regular', sans-serif;
    --font-family-b: 'Inter-SemiBold', sans-serif;
    --font-family-c: 'Caveat-Bold', sans-serif;

    // --- COLORS ---
    --white:                 #ffffff;
    --dark:                  #000000;
    --black:                 #282827;
    --black-bg:              #0f0f0f;
    --black-pro:             #1A1A1A;
    --gray:                  #747473;
    --gray-2:                #929292;
    --gray-3:                #d4d4d4;
    --line-light:            #f5f5f5;
    --bg-light:              #fafafa;
    --bg-light-2:            #f9f9f9;
    --yellow-main:           #f8ca02;
    --yellow-secondary:      #ffdf65;
    --orange:                #ffc165;
    --orange-2:              #f1711c;
    --green:                 #56e264;
    --grey-pro:              #a8a8a8;
    --lines-pro:             #232322;
    --dark-bg-pro:           #0b0b0b;
    --lines-bg-pro:          #151515;
    --successful:            #49aa53;
    --violet:                #7165ff;
    --error:                 #e64832;
    --toner: rgba(0, 0, 0, 0.25);
    --toner-160: rgba(0, 0, 0, 0.16);
    --gradient-1-32: linear-gradient(90deg, rgba(255,223,101,0.32) 0%, rgba(255,193,101,0.32) 100%);
    --gradient-1-25: linear-gradient(90deg, rgba(255,223,101,0.35) 0%, rgba(255,193,101,0.35) 100%);
    --gradient-1: linear-gradient(90deg, rgba(255,223,101,100) 0%, rgba(255,193,101,100) 100%);
    --gradient-2: linear-gradient(180deg, rgba(21,21,21,0) 0%, rgba(21,21,21,1) 100%);
    --gradient-3: linear-gradient(90deg, rgba(46,46,46,0.50) 0%, rgba(69,69,69,0.50) 100%);
    --gradient-pro: linear-gradient(90deg, rgba(116,116,115,1) -44%, rgba(255,193,101,1) 100%);

    @media (max-width: #{$w-mob}) {
        --c-padding: 20px;
    }
}