@use "utilities/fonts";

body, html {
	background: var(--white);
	color: var(--black);

	font-family: var(--font-family);
	font-size: var(--c-font-size);
	letter-spacing: .45px;
	line-height: 1.4;
	font-weight: 400;

	margin: 0 auto;

	-webkit-text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	&:first-child {
		margin-top: 0 !important;
	}
	&:last-child {
		margin-bottom: 0 !important;
	}
}

a {
	text-decoration: none;
	transition: all ease-in-out .2s;
}