@use "utilities/variables" as var;
@use "utilities/mixins" as mix;

.overflow {
	overflow: hidden;
}

.hidden {
	display: none !important;

	&--mob {
		@include mix.hide-on($to: var.$w-mob);
	}
	&--tab {
		@include mix.hide-on($from: var.$w-mob, $to: var.$w-tab);
	}
	&--desktop {
		@include mix.hide-on($from: var.$w-tab);
	}
}

.section {
	width: 100%;
	max-width: 100%;
	//min-width: var.$w-min;
	margin: 0 auto;
	position: relative;

	&--first {
		padding-top: calc(52px + var(--h-header));
	}

	&--shop {
		padding-top: calc(var(--h-header)*2);
	}

	&__wrapper {
		@include mix.wrapper;
	}

}

.flex {
	display: flex;

	&.wrap {
		flex-wrap: wrap;
	}

	&.row {
		flex-direction: row;
	}

	&.col {
		flex-direction: column;
	}

	&.center {
		align-items: center;
		justify-content: center;
	}

	& > * {
		flex: 1 1 auto;

		.unset {
			flex: unset;
		}

		.auto {
			flex: 0 0 auto;
		}
	}

	&.sp-between {
		justify-content: space-between;
		align-items: center;
	}
}

.media {
	display: flex;
	overflow: hidden;
	position: relative;

	&--bg {
		background: var(--bg-light);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		img, video, iframe {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&--img {
		background: var(--bg-light-2);
	}
}

.fly-image {
	position: absolute;
	z-index: 1000;
	pointer-events: none;
	transition: transform 1000ms ease-in-out, opacity 1000ms ease-in-out;
	will-change: transform, opacity;
	width: max-content;
	height: 100vh;
	object-fit: contain;
}

.align-right {
	@include mix.flex-justify('flex-end');
}

.align-left {
	@include mix.flex-justify('flex-start');
}

.mobile-only {
	@include mix.minw(var.$w-mob) {
		display: none !important;
	}
}
.mobile-plus-tablet {
	@include mix.minw(var.$w-tab) {
		display: none !important;
	}
}
.desktop-plus-tablet {
	@include mix.maxw(var.$w-mob) {
		display: none !important;
	}
}
