@use "utilities/variables" as var;
@use "utilities/mixins" as mix;

.overflow {
	overflow: hidden;
}

.hidden {
	display: none !important;

	&--mob {
		@include mix.hide-on($to: var.$w-mob);
	}
	&--tab {
		@include mix.hide-on($from: var.$w-mob, $to: var.$w-tab);
	}
	&--desktop {
		@include mix.hide-on($from: var.$w-tab);
	}
}

.section {
	width: 100%;
	max-width: 100%;
	min-width: var.$w-min;
	margin: 0 auto;
	position: relative;

	&--first {
		padding-top: calc(52px + var(--h-header));
	}

	&--shop {
		padding-top: calc(var(--h-header)*2);
	}

	&__wrapper {
		@include mix.wrapper;
	}

}

.flex {
	display: flex;

	&.wrap {
		flex-wrap: wrap;
	}

	&.row {
		flex-direction: row;
	}

	&.col {
		flex-direction: column;
	}

	& > * {
		flex: 1 1 auto;
		margin-top: 0;
	}
}

.media {
	display: flex;
	overflow: hidden;
	position: relative;

	&--bg {
		background: var(--bg-light);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		img, video, iframe {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&--img {
		background: var(--bg-light-2);
	}
}

.align-right {
	@include mix.flex-justify('flex-end');
}

.mobile-only {
	@include mix.minw(var.$w-mob) {
		display: none !important;
	}
}
.mobile-plus-tablet {
	@include mix.minw(var.$w-tab) {
		display: none !important;
	}
}
.desktop-plus-tablet {
	@include mix.maxw(var.$w-mob) {
		display: none !important;
	}
}
