@use "utilities/mixins" as mix;
.button {
	position: relative;
	display: flex;
	align-content: center;
	font-weight: 400;
	font-size: 13px;
	line-height: 120%;
	text-decoration: none;
	border-radius: 16px;
	padding: 8px 10px 8px 10px;
	width: max-content;
	outline: none;
	border: none;
	cursor: pointer;
	transition: all linear .2s;

	&:hover:not([disabled]) {}

	&.disabled,
	&[disabled] {
		pointer-events: none;
		opacity: 0.25;
	}

	&--white, &--black {
		border-width: 1px;
		border-style: solid;
		background: rgba(0, 0, 0, 0);
	}

	&--white {
		border-color: var(--white);
		color: var(--white);

		&:hover {
			color: var(--yellow-main);
			border: 1px solid var(--yellow-main);
		}
	}

	&--black {
		border-color: var(--black);
		color: var(--black);

		&:hover {
			color: var(--yellow-main);
			border: 1px solid var(--yellow-main);
		}
	}

	&--yellow {
		color: var(--black);
		background: var(--yellow-secondary);

		&:hover {
			background: var(--yellow-main);
		}
	}

	&--big {
		border-radius: 24px;
		padding: 15px 24px;
		@extend .sta-m;
	}
}

.language {
	position: relative;
	margin-right: auto;

	&__link {
		display: flex;
		align-items: center;
		min-width: 40px;
		font-weight: 400;
		font-size: 13px;
		line-height: 120%;
		color: var(--white);

		&:focus,
		&:hover {
			color: var(--yellow-main);
		}

		&:focus {
			color: var(--yellow-main);

			.language {
				&__icon {
					transform: rotate(90deg);
				}
			}
		}
	}

	&__icon {
		display: inline-block;
		margin-left: 12px;
		width: 6px;
		height: 4px;
		background: var(--yellow-secondary);
		mask-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='4' viewBox='0 0 6 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.32822 3.46667C3.12822 3.73333 2.72822 3.73333 2.52822 3.46667L0.528223 0.799999C0.281009 0.470381 0.5162 -5.32739e-07 0.928223 -4.96719e-07L4.92822 -1.47027e-07C5.34025 -1.11007e-07 5.57544 0.470382 5.32822 0.8L3.32822 3.46667Z' fill='%23FFDF65'/%3e%3c/svg%3e");
		mask-size: contain;
		mask-repeat: no-repeat;
		transition: transform 0.3s ease;

	}
}

.promo-links {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	gap: 16px;
	padding-top: 32px;

	&__item {
		@include mix.flex-justify('flex-start', 'flex-start');
		flex-direction: column;

		h3 {
			font-weight: 600;
			font-size: 13px;
			line-height: 140%;
			color: var(--gray);
			margin-bottom: 8px;
		}
		ul {
			list-style: none;

			li {
				margin-bottom: 6px;
				a {
					@include mix.flex-justify('flex-start', 'center');
					color: var(--white);

					.tag {
						margin-left: 5px;
					}

					&:hover {
						color: var(--yellow-secondary);
					}
				}
				&.current-menu-item {
					a {
						color: var(--yellow-main);
					}
				}
			}
		}
	}

	&__mt {
		margin-top: 16px;
	}

	&__directions,
	&__catalog,
	&__company
	{
		ul {
			li {
				a {
					font-weight: 400;
					font-size: 13px;
					line-height: 140%;
				}
			}
		}
	}

	&__social {
		@include mix.flex-justify;
		gap: 16px;

		a {
			@include mix.flex-justify;
			width: auto;

			svg {
				width: 16px;
				height: 16px;
				min-width: 100%;
				fill: var(--yellow-secondary);
				transition: all ease-in-out .2s;
			}

			&:hover {
				svg {
					fill: var(--white);
				}
			}
		}
	}
}

.tag {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 18px;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	padding: 0 8px;
	font-weight: 600;
	font-size: 8px;
	line-height: 120%;
	white-space: nowrap;

	&--discount {
		color: var(--white);
		border-color: var(--orange-2);
		background: var(--orange-2);
	}
	&--gift {
		color: var(--orange);
		border-color: var(--orange);
	}
	&--soon {
		color: var(--violet);
		border-color: var(--violet);
	}
	&--new {
		color: var(--green);
		border-color: var(--green);
	}
}

h1, h2,
.h1h2 {
	font-size: var(--desctop-h1h2-font-size);
	line-height: var(--desctop-h1h2-line-height);
	font-weight: var(--desctop-h1h2-font-weight);
}

h3,
.h3 {
	font-size: var(--desctop-h3-font-size);
	line-height: var(--desctop-h3-line-height);
	font-weight: var(--desctop-h3-font-weight);
}

.body-s-sb {
	font-size: var(--desctop-body-s-sb-font-size);
	line-height: var(--desctop-body-s-sb-line-height);
	font-weight: var(--desctop-body-s-sb-font-weight);
}

.body-s-reg {
	font-size: var(--desctop-body-s-reg-font-size);
	line-height: var(--desctop-body-s-reg-line-height);
	font-weight: var(--desctop-body-s-reg-font-weight);
}

.body-m-sb {
	font-size: var(--desctop-body-m-sb-font-size);
	line-height: var(--desctop-body-m-sb-line-height);
	font-weight: var(--desctop-body-m-sb-font-weight);
}

.body-l-sb {
	font-size: var(--desctop-body-l-sb-font-size);
	line-height: var(--desctop-body-l-sb-line-height);
	font-weight: var(--desctop-body-l-sb-font-weight);
}

.cta-s {
	font-size: var(--desctop-cta-s-font-size);
	line-height: var(--desctop-cta-s-line-height);
	font-weight: var(--desctop-cta-s-font-weight);
}

.cta-s-link {
	font-size: var(--desctop-cta-s-link-font-size);
	line-height: var(--desctop-cta-s-link-line-height);
	font-weight: var(--desctop-cta-s-link-font-weight);
}

.sta-m {
	font-size: var(--desctop-sta-m-font-size);
	line-height: var(--desctop-sta-m-line-height);
	font-weight: var(--desctop-sta-m-font-weight);
}

.cta-m-link {
	font-size: var(--desctop-cta-m-link-font-size);
	line-height: var(--desctop-cta-m-link-line-height);
	font-weight: var(--desctop-cta-m-link-font-weight);
}

.textaccedent {
	font-size: var(--desctop-textaccedent-font-size);
	line-height: var(--desctop-textaccedent-line-height);
	font-weight: var(--desctop-textaccedent-font-weight);
}

.list {
	margin-left: 22px;
	li {
		font-size: var(--desctop-list-font-size);
		line-height: var(--desctop-list-line-height);
		font-weight: var(--desctop-list-font-weight);
		margin-bottom: 9px;
	}
}

.inp-wrp {
	.error {
		font-weight: 400;
		font-size: 10px;
		line-height: 190%;
		color: var(--error);
	}
}

.form-description {
	text-align: left;
	font-size: 10px;
	line-height: 140%;
	font-weight: 400;
	color: var(--black);

	a {
		color: var(--black);
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

%form-rules {
	color: var(--black);
	border: none;
	outline: none;
	font-family: var(--font-family-b);
	@extend .body-s-sb;
	caret-color: var(--yellow-main);
	background-color: transparent;

	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: var(--gray-3);

	@include mix.placeholder(var(--gray), var(--font-family-b), 600, 13px);

	&:focus {
		color: var(--black);
		border-bottom-color: var(--gray-3);
	}

	&.required {
		color: var(--error);
		border-bottom-color: var(--error);
		@include mix.placeholder(var(--error), var(--font-family-b), 600, 13px);
	}

	&:disabled,
	&:read-only {
		@include mix.placeholder(rgba(116, 116, 115, 0.32), var(--font-family-b), 600, 13px);
		border-bottom-color: rgba(212, 212, 212, 0.32);
		cursor: default;
	}
}

input {
	@extend %form-rules;
	width: 100%;
	padding-bottom: 8px;

	&[type="checkbox"] {
		flex: 0 0 auto;
		width: 16px;
		height: 16px;
		border: 1px solid var(--gray-3);
		box-sizing: border-box;
		border-radius: 2px;
		outline: none;
		appearance: none;
		margin: 0 9px 0 0;
		padding: 0;

		&:checked {
			background-image: url("data:image/svg+xml,%3Csvg width='10' height='9' viewBox='0 0 10 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.1687 7.72766C3.1687 7.72766 0.509972 4.76001 0.318855 4.54718C-0.106285 4.07284 -0.106285 3.30095 0.318855 2.82701C0.745078 2.35146 1.43437 2.35146 1.86059 2.82701L3.58184 4.74747C3.79587 4.98627 4.14322 4.98462 4.35545 4.74462L8.13478 0.467095C8.55955 -0.0137246 9.25357 -0.0169792 9.68196 0.461022C10.1038 0.93171 10.1064 1.70038 9.6874 2.17472C5.58324 6.82074 4.80383 7.72726 4.80383 7.72726C4.35325 8.22995 3.61964 8.23039 3.1687 7.72766Z' fill='%23FFCB05'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: center 3px;
		}
	}
}

%switcher-base {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 28px;
	height: 16px;
	border: 1px solid var(--gray);
	border-radius: 16px;
	padding: 1px;
	transition: border-color 0.3s ease;
	cursor: pointer;

	&::after {
		content: '';
		display: block;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: var(--gray);
		transition: transform 0.3s ease, background-color 0.3s ease;
	}
}

.form-switch {
	position: relative;
	display: inline-block;
	width: 28px;
	height: 16px;

	&__input {
		display: none;
	}

	&__label {
		@extend %switcher-base;
	}

	&__input:checked + &__label {
		border-color: #FFCB05;

		&::after {
			transform: translateX(12px);
			background-color: #FFCB05;
		}
	}

	&__input:disabled + &__label {
		border-color: var(--gray-3) !important;

		&::before {
			transform: none;
			background-color: var(--gray-3) !important;
		}
		cursor: default;
	}
}


.form-radio {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 8px;
	width: 100%;

	&__item {
		@include mix.flex-justify('flex-start');
		gap: 8px;
		box-sizing: border-box;
		cursor: pointer;
		position: relative;

		input[type="radio"] {
			display: none;
		}

		span {
			@include mix.flex-justify('flex-start');
			width: 100%;
			border-width: 1px;
			border-style: solid;
			border-radius: 4px;
			padding: 23px 16px;
			height: 64px;
			font-size: 13px;
			font-weight: 400;
			color: var(--gray);
			border-color: var(--gray-3);

			&:hover {
				color: var(--black) !important;
				border-color: var(--yellow-main) !important;
			}

			transition: border-color 0.2s ease, color 0.2s ease;

		}

		input[type="radio"]:checked + span {
			font-weight: 600;
			border-width: 2px;
			color: var(--black);
			border-color: var(--yellow-main);
		}

		input[type="radio"]:disabled + span {
			color: rgba(116, 116, 115, 0.32) !important;
			border-color: rgba(212, 212, 212, 0.32) !important;
			cursor: default;
		}
	}
}

.select-wrapper {
	position: relative;
	display: inline-block;
	width: auto;
	height: 27px;
	border-bottom: 1px solid var(--gray-3);

	.select {
		outline: none;
		border: none;
		width: 100%;
		height: 100%;
		padding-right: 20px;
		background-color: transparent;
		font-weight: 600;
		font-size: 13px;
		line-height: 140%;
		color: var(--gray);
		border-radius: unset;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		cursor: pointer;

		&::placeholder {
			color: var(--black);
		}

	}

	&::after {
		content: '';
		position: absolute;
		right: 4px;
		top: 50%;
		transform: translateY(-50%);
		width: 6px;
		height: 4px;
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="6" height="4" viewBox="0 0 6 4" fill="none"><path d="M3.4192 3.81818C3.23289 4.06061 2.76711 4.06061 2.5808 3.81818L0.0655735 0.545454C-0.120739 0.303029 0.112152 -5.14732e-07 0.484777 -4.82156e-07L5.51522 -4.23805e-08C5.88785 -9.80455e-09 6.12074 0.30303 5.93443 0.545454L3.4192 3.81818Z" fill="%23747473"/></svg>');
		background-repeat: no-repeat;
		background-size: contain;
		pointer-events: none;
	}
}


textarea {
	@extend %form-rules;
	display: block;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 70px;
	padding: 16px;
	border-radius: 4px;
	border: 1px solid var(--gray-3);
	resize: vertical;

	&.required {
		border-color: var(--error);
	}

	&:disabled,
	&:read-only {
		color: rgba(116, 116, 115, 0.32);
		border-color: rgba(212, 212, 212, 0.32);
		resize: none;
	}
}

.title {
	text-align: center;

	&__description {

	}
}

.spacer {
	@include mix.spacer(40, 120);
}

.dropdown {
	position: absolute;
	top: calc(100% + 8px);
	width: max-content;
	padding: 24px;
	background: var(--black);
	color: var(--gray-3);
	text-align: left;
	border-radius: 16px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-10px);
	transition: all ease-in-out 0.2s;
	cursor: default;
	z-index: 10;

	&.active {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	& > &__item {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		margin-bottom: 8px;
		cursor: pointer;
		font-size: 13px;
		color: var(--gray-3);
		transition: all ease-in-out 0.2s;

		span {
			white-space: nowrap;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}
		}

		&:hover {
			color: var(--white);
		}

		& > .switcher {
			@extend %switcher-base;
		}

		&.active > .switcher {
			border-color: #FFCB05;

			&::after {
				transform: translateX(100%);
				background-color: #FFCB05;
			}
		}
	}

	&--left {
		right: auto;
		left: 0;
	}

	&--right {
		right: 0;
		left: auto;
	}
}
